<div class='navbar'>
  <div class='logo'>{{prefix}}</div>

  <div class='menu'>
    <a class='menu-link' href='/{{prefix}}/home'>Home</a>
    <a class='menu-link' href='/{{prefix}}/products'>Products</a>
    <a class='menu-link' href='/{{prefix}}/about'>About</a>
    <a class='menu-link' href='/{{prefix}}/contacts'>Contacts</a>
  </div>

  <div class='menu-toggle'>
    <div class='bars'>
      <div class='bar'></div>
      <div class='bar center'></div>
      <div class='bar'></div>
    </div>
  </div>
</div>